* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/*-----NAV-----*/
nav {
    background: rgba(113, 255, 243, 0.425);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 10px 10px;
}

nav>div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

nav>div>div {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.login_but {
    cursor: pointer;
    background: rgba(33, 85, 255, 0.24);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

/*-----MAIN-----*/
main {
    background: rgba(49, 161, 73, 0.425);
    display: flex;
    justify-content: stretch;
}