@font-face {
  font-family: SR;
  src: url("../fonts/SuboleyaRegular.ttf");
}
@font-face {
  font-family: W;
  src: url("../fonts/Wadik.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 0.8vw;
  height: 1.5vh;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 125, 77, 0.2470588235);
}

*::selection {
  color: #007d4d;
  background-color: rgb(0, 189, 97);
}

html {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Arrow.cur"), auto;
}

body {
  font-family: SR;
  font-size: 14px;
  color: rgb(0, 146, 102);
  background: linear-gradient(to bottom, rgb(16, 0, 19) 10%, rgb(0, 70, 41) 200%) no-repeat fixed;
}

a {
  text-decoration: none;
  color: rgb(0, 146, 102);
}

a:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}

.main_grid {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "nav nav" "what startb" "what version";
  grid-template-rows: 15% 20% 65%;
  grid-template-columns: 50% 50%;
}

.nav {
  display: grid;
  background-color: rgba(55, 104, 101, 0.5);
  grid-area: nav;
}
.nav .content {
  display: grid;
  grid-template-columns: 8vw auto 10% 10% 10% 10%;
}
.nav .content div:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.089);
}
.nav .content div:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.171);
}
.nav .content .theme_div {
  background-color: rgba(0, 0, 0, 0.267);
  display: grid;
  justify-items: center;
  align-items: center;
}
.nav .content .theme_div:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  background: rgba(0, 0, 0, 0);
}
.nav .content .theme_div .theme_but {
  display: grid;
  justify-content: center;
  align-content: end;
  background: url("../imgs/theme_icon.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 3vw;
  height: 5vw;
  font-size: 1vw;
}
.nav .content div:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.349);
}
.nav .content .logo {
  background: url("../imgs/logo.svg") no-repeat;
  background-size: 5vw;
  background-position: center;
}
.nav .content .fast_desc {
  text-shadow: 3px 3px rgb(16, 0, 19);
  justify-self: start;
  font-size: 40px;
  align-self: center;
}
.nav .content .fast_desc .matter:nth-child(1) {
  color: rgb(0, 146, 102);
  text-shadow: 0 5px rgb(16, 0, 19);
}
.nav .content .fast_desc .matter:nth-child(3) {
  color: rgb(55, 148, 125);
  text-shadow: 3px 3px rgb(16, 0, 19);
  background: none;
}

.what {
  display: grid;
  background: linear-gradient(135deg, rgba(37, 56, 54, 0.438) 10%, rgba(37, 56, 54, 0.5) 10%, rgba(37, 56, 54, 0.5) 90%, rgba(37, 56, 54, 0.4) 90%, rgba(37, 56, 54, 0.4) 95%, rgba(0, 0, 0, 0) 95%);
  grid-area: what;
  text-align: justify;
}

.unsel {
  user-select: none;
}

.startb {
  background-color: rgb(72, 34, 40);
  grid-area: startb;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: auto;
}

.version {
  display: grid;
  background: linear-gradient(135deg, rgba(38, 73, 70, 0.5) 20%, rgba(41, 77, 74, 0.5) 20%, rgba(41, 77, 74, 0.5) 80%, rgba(38, 73, 70, 0.5) 80%, rgba(38, 73, 70, 0.5) 100%);
  grid-area: version;
}
.version .content {
  font-family: W;
  display: grid;
}
.version .content .version_name {
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  font-size: 30px;
  font-family: W;
}
.version .content .version_name > div:nth-child(1) {
  display: grid;
  justify-content: end;
  color: rgb(139, 135, 70);
  font-family: W;
  text-shadow: none;
  font-size: 20px;
}
.version .content .version_name > div:nth-child(2) {
  display: grid;
  justify-content: center;
  background-color: rgb(139, 135, 70);
  color: rgb(41, 77, 74);
  font-family: W;
  text-shadow: none;
  font-size: 20px;
}
.version .content .info {
  display: grid;
}
.version .content .info .title {
  font-family: SR;
  padding-top: 3%;
  color: rgb(139, 135, 70);
}
.version .content .info .title .date {
  font-size: 20px;
  text-shadow: none;
  color: rgb(0, 146, 102);
}
.version .content .info .news_list {
  align-self: start;
  display: grid;
  grid-template-columns: 20% 80%;
}
.version .content .info .news_list > div:first-child {
  display: grid;
  justify-content: end;
}
.version .content .info .news_list > div:first-child .unsel {
  font-size: 20px;
}
.version .content .info .news_list .lined {
  text-align: justify;
  font-family: W;
  font-size: 18px;
  padding: 1%;
  color: rgba(187, 184, 123, 0.5);
}
.version .content .info .news_list .lined .unsel {
  font-size: 20px;
  font-family: W;
  color: rgb(207, 198, 69);
}
.version .content .info .news_list .lined .matter {
  font-family: W;
  font-size: 18px;
}

.matter {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 15px;
  font-family: SR;
  font-size: 40px;
  color: rgb(207, 198, 69);
}

.z0 {
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
}

.z1 {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
}

.z2 {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

.mini_description {
  justify-self: end;
  align-self: start;
  font-size: 0.8vw;
  color: rgb(139, 135, 70);
  user-select: none;
  padding-right: 1vw;
  background-color: rgba(0, 0, 0, 0.082);
}

.title {
  text-shadow: 3px 3px rgb(16, 0, 19);
  padding: 1% 2%;
  font-size: 40px;
}

a:has(.start_app_but) {
  overflow: hidden;
}

.start_app_but {
  background-color: rgb(112, 53, 53);
  display: grid;
  user-select: none;
}
.start_app_but .z0 {
  background-color: rgba(139, 139, 139, 0.021);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.07) 100%);
  transition: padding 0.5s, letter-spacing 1s;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-style: italic;
  padding-top: 6vh;
  align-self: end;
  justify-self: end;
  font-size: 15vh;
}
.start_app_but .z1 {
  transition: padding 0.5s;
  font-size: 60px;
}
.start_app_but .z2 {
  transition: padding 0.5s;
  padding-right: 0;
  color: rgb(207, 198, 69);
}
.start_app_but span {
  font-size: 60px;
}

.start_app_but:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  background-color: rgb(134, 64, 64);
}
.start_app_but:hover .z0 {
  letter-spacing: 0.6vw;
  transition: padding 1s, letter-spacing 1s;
  padding-right: 10%;
}
.start_app_but:hover .z1 {
  transition: padding 1s;
  padding-left: 3%;
}
.start_app_but:hover .z2 {
  transition: padding 1s;
  padding-right: 1vw;
}

.load_status {
  background-color: rgb(72, 34, 40);
  user-select: none;
  font-size: 24px;
  justify-self: end;
  padding: 0 1%;
  align-self: center;
}

.cssalive_grid {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-areas: "nav nav" "what startb" "what version";
  grid-template-rows: 8vh 92vh;
  grid-template-columns: 50% 50%;
}

.app_container {
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2vw 1fr;
  grid-template-rows: 100%;
}

.middlecol {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 38vh 1fr 1fr 1fr 28vh;
}
.middlecol .start {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/start_icon.svg");
  width: 7vw;
  height: 7vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .start:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .settings {
  grid-row: 3;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/settings_icon.svg");
  width: 6vw;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .settings:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .report {
  grid-row: 4;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/report_icon.svg");
  width: 6vw;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .report:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .settings_block {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  grid-row: 1/6;
  grid-column: 1;
  z-index: 0;
  display: grid;
  grid-template-columns: 2vw 1fr 2vw;
  grid-template-rows: 1fr;
  align-self: stretch;
  justify-self: stretch;
}
.middlecol .settings_block .main_col {
  display: grid;
  grid-template-rows: 9% 1fr 6%;
  overflow-y: auto;
  background: rgba(37, 56, 54, 0.5);
}
.middlecol .settings_block .main_col .title {
  background: linear-gradient(135deg, rgba(58, 58, 58, 0.479) 70%, rgba(58, 58, 58, 0.26) 70%);
  font-size: 7vh;
  overflow: hidden;
  grid-row: 1;
  margin-bottom: 1.5vh;
  user-select: none;
  transition: all 1s;
  color: rgb(139, 135, 70);
}
.middlecol .settings_block .main_col .content {
  margin-bottom: 2vh;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  grid-row: 2;
  padding: 2vh 2vw;
  display: grid;
}
.middlecol .settings_block .main_col .content .global_set {
  background: rgba(0, 0, 0, 0.096);
  padding: 20px;
}
.middlecol .settings_block .main_col .content .set_title {
  font-size: 22px;
  display: grid;
  justify-content: end;
}
.middlecol .settings_block .main_col .content .about {
  margin-top: 20px;
  white-space: unset;
}
.middlecol .settings_block .main_col .content .radio {
  display: grid;
  margin: 1vh 1vw;
}
.middlecol .settings_block .main_col .content .radio input {
  display: none;
}
.middlecol .settings_block .main_col .content .radio input:checked + label {
  margin-left: 1vw;
  background: linear-gradient(115deg, transparent 10%, rgb(0, 70, 41) 10%);
  color: rgb(207, 198, 69);
}
.middlecol .settings_block .main_col .content .radio label {
  letter-spacing: 2px;
  text-shadow: 2px 2px rgb(16, 0, 19);
  background: linear-gradient(115deg, transparent 10%, rgb(72, 34, 40) 10%);
  font-family: W;
  padding: 1vh 1vw;
}
.middlecol .settings_block .main_col .content .radio label:hover {
  opacity: 0.8;
}
.middlecol .settings_block .main_col .accept_block {
  transition: opacity 0.2s;
  opacity: 0;
  width: 60%;
  grid-row: 3;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  font-size: 3vh;
  white-space: nowrap;
}
.middlecol .settings_block .main_col .accept_block .accept {
  background: linear-gradient(115deg, transparent 20%, rgb(0, 70, 41) 20%);
  display: grid;
  justify-content: right;
  align-content: center;
  padding: 0 2vw;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  transition: transform 0.2s;
}
.middlecol .settings_block .main_col .accept_block .accept:hover {
  transition: transform 0.2s;
  transform: translate(0, 10%);
}
.middlecol .settings_block .main_col .accept_block .cancel {
  color: rgb(16, 0, 19);
  background: linear-gradient(-115deg, transparent 20%, rgb(112, 53, 53) 20%);
  display: grid;
  justify-content: left;
  align-content: center;
  padding: 0 2vw;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  transition: transform 0.2s;
}
.middlecol .settings_block .main_col .accept_block .cancel:hover {
  transition: transform 0.2s;
  transform: translate(0, 10%);
}
.middlecol .settings_block .beauty_col_left {
  background: linear-gradient(225deg, transparent 50%, RGB(30, 57, 50) 50%, RGB(30, 57, 50) 70%, transparent 70%, transparent 100%), linear-gradient(135deg, transparent 40%, RGB(30, 57, 50) 40%, RGB(30, 57, 50) 60%, transparent 60%, transparent 100%);
}
.middlecol .settings_block .beauty_col_right {
  background: linear-gradient(-225deg, transparent 50%, RGB(30, 57, 50) 50%, RGB(30, 57, 50) 70%, transparent 70%, transparent 100%), linear-gradient(-135deg, transparent 40%, RGB(30, 57, 50) 40%, RGB(30, 57, 50) 60%, transparent 60%, transparent 100%);
}

.leftcol {
  transition: opacity 1s;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr 2vw;
}
.leftcol .main_col {
  overflow: hidden;
  background: linear-gradient(225deg, rgba(37, 56, 54, 0.438) 5%, rgba(37, 56, 54, 0.5) 5%, rgba(37, 56, 54, 0.5) 95%, rgba(37, 56, 54, 0.247) 95%);
}
.leftcol .main_col.css_page {
  display: grid;
  grid-row: 1/1;
  grid-column: 1/1;
}
.leftcol .main_col.html_page {
  display: none;
  grid-row: 1/1;
  grid-column: 1/1;
}
.leftcol .main_col .code_block {
  grid-row: 1/1;
  grid-column: 1/1;
  overflow: hidden;
  display: grid;
}
.leftcol .main_col .report_block {
  display: none;
  width: 100%;
  height: 100%;
}
.leftcol .main_col .report_block iframe {
  border: 0.5vh solid rgb(0, 70, 41);
}
.leftcol .beauty_col {
  background: linear-gradient(225deg, transparent 3%, rgba(37, 56, 54, 0.438) 3%, rgba(37, 56, 54, 0.438) 20%, transparent 30%, transparent 70%, rgba(52, 117, 85, 0.438) 70%, rgba(37, 56, 54, 0.438) 80%, transparent 90%), linear-gradient(135deg, transparent 10%, rgba(37, 56, 54, 0.438) 20%, rgba(52, 117, 85, 0.438) 40%, transparent 40%, transparent 70%, rgba(37, 56, 54, 0.438) 80%, rgba(37, 56, 54, 0.438) 97%, transparent 97%);
}

.rightcol {
  transition: opacity 1s;
  display: grid;
  grid-column: 3;
  grid-row: 1;
  grid-template-columns: 2vw 1fr;
}
.rightcol .upload_block p {
  font-size: 22px;
  color: rgba(187, 184, 123, 0.5);
  font-family: SR;
}
.rightcol div:has(textarea) {
  overflow: hidden;
}
.rightcol .main_col {
  display: grid;
  background: linear-gradient(135deg, rgba(37, 56, 54, 0.438) 5%, rgba(37, 56, 54, 0.5) 5%, rgba(37, 56, 54, 0.5) 95%, rgba(37, 56, 54, 0.247) 95%);
}
.rightcol .beauty_col {
  background: linear-gradient(-225deg, transparent 3%, rgba(37, 56, 54, 0.438) 3%, rgba(37, 56, 54, 0.438) 20%, transparent 30%, transparent 70%, rgba(52, 117, 85, 0.438) 70%, rgba(37, 56, 54, 0.438) 80%, transparent 90%), linear-gradient(-135deg, transparent 10%, rgba(37, 56, 54, 0.438) 20%, rgba(52, 117, 85, 0.438) 40%, transparent 40%, transparent 70%, rgba(37, 56, 54, 0.438) 80%, rgba(37, 56, 54, 0.438) 97%, transparent 97%);
}

.upload_block {
  font-size: 18px;
  justify-self: center;
  align-self: center;
}
.upload_block input {
  display: none;
}
.upload_block .open_but {
  text-align: center;
  font-size: 22px;
  margin: 5vh 0;
  padding: 20px;
  text-shadow: 3px 3px rgb(16, 0, 19);
  transition: all 0.2s;
  background: linear-gradient(110deg, rgba(0, 0, 0, 0) 10%, rgb(112, 53, 53) 10%, rgb(112, 53, 53) 20%, rgb(72, 34, 40) 20%, rgb(72, 34, 40) 90%, rgba(0, 0, 0, 0) 90%);
}
.upload_block .open_but:hover {
  letter-spacing: 0.2vw;
  background: linear-gradient(110deg, rgba(0, 0, 0, 0) 10%, rgb(139, 135, 70) 10%, rgb(139, 135, 70) 20%, rgba(187, 184, 123, 0.5) 20%, rgba(187, 184, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
  transition: all 0.2s;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.upload_block p {
  font-family: W;
  margin-top: 3vh;
  text-align: center;
}

.app_nav {
  /*background: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0) 40%,
      rgb(36, 52, 60) 40%,
      rgb(36, 52, 60) 80%,
      rgba(0, 0, 0, 0) 80%
    ),
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0) 40%,
      rgb(36, 52, 60) 40%,
      rgb(36, 52, 60) 80%,
      rgba(0, 0, 0, 0) 80%
    );*/
  display: grid;
  grid-column: 1/4;
  justify-self: stretch;
  font-size: 3vh;
}
.app_nav .content {
  margin-top: 2vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10% 90%;
  /*.history {
    background: linear-gradient(
      rgba(233, 245, 64, 0.082),
      rgba(0, 0, 0, 0) 70%
    );
    .mini_icon {
      background: $history_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .example {
    .mini_icon {
      background: $example_icon, $history_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .instruction {
    .mini_icon {
      background: $instruction_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .theme {
    .mini_icon {
      background: $theme_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }*/
}
.app_nav .content > div {
  padding-right: 2vw;
  margin: 0 2vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.app_nav .content > div:hover {
  background: rgba(0, 0, 0, 0.137);
}
.app_nav .content .change_code .css {
  user-select: none;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(37, 56, 54, 0.5);
  width: 6vw;
  height: 100%;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.app_nav .content .change_code .html {
  user-select: none;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(37, 56, 54, 0.3);
  width: 6vw;
  height: 100%;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}

label {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}

/*# sourceMappingURL=style.css.map */
