@font-face {
  font-family: SR;
  src: url("../fonts/SuboleyaRegular.ttf");
}
@font-face {
  font-family: W;
  src: url("../fonts/Wadik.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 0.8vw;
  height: 1.5vh;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 125, 77, 0.2470588235);
}

*::selection {
  color: #007d4d;
  background-color: rgb(0, 189, 97);
}

html {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Arrow.cur"), auto;
}

body {
  font-family: SR;
  font-size: 14px;
  color: rgb(0, 146, 102);
  background: linear-gradient(to bottom, rgb(16, 0, 19) 10%, rgb(0, 70, 41) 200%) no-repeat fixed;
}

a {
  text-decoration: none;
  color: rgb(0, 146, 102);
}

a:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}

.main_grid {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "nav nav" "what startb" "what version";
  grid-template-rows: 15% 20% 65%;
  grid-template-columns: 50% 50%;
}

.nav {
  display: grid;
  background-color: rgba(55, 104, 101, 0.5);
  grid-area: nav;
}
.nav .content {
  display: grid;
  grid-template-columns: 8vw auto 10% 10% 10% 10%;
}
.nav .content div:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.089);
}
.nav .content div:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.171);
}
.nav .content .theme_div {
  background-color: rgba(0, 0, 0, 0.267);
  display: grid;
  justify-items: center;
  align-items: center;
}
.nav .content .theme_div:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  background: rgba(0, 0, 0, 0);
}
.nav .content .theme_div .theme_but {
  display: grid;
  justify-content: center;
  align-content: end;
  background: url("../imgs/theme_icon.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 3vw;
  height: 5vw;
  font-size: 1vw;
}
.nav .content div:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.349);
}
.nav .content .logo {
  background: url("../imgs/logo.svg") no-repeat;
  background-size: 5vw;
  background-position: center;
}
.nav .content .fast_desc {
  text-shadow: 3px 3px rgb(16, 0, 19);
  justify-self: start;
  font-size: 40px;
  align-self: center;
}
.nav .content .fast_desc .matter:nth-child(1) {
  color: rgb(0, 146, 102);
  text-shadow: 0 5px rgb(16, 0, 19);
}
.nav .content .fast_desc .matter:nth-child(3) {
  color: rgb(55, 148, 125);
  text-shadow: 3px 3px rgb(16, 0, 19);
  background: none;
}

.what {
  display: grid;
  background: linear-gradient(135deg, rgba(37, 56, 54, 0.438) 10%, rgba(37, 56, 54, 0.5) 10%, rgba(37, 56, 54, 0.5) 90%, rgba(37, 56, 54, 0.4) 90%, rgba(37, 56, 54, 0.4) 95%, rgba(0, 0, 0, 0) 95%);
  grid-area: what;
  text-align: justify;
}

.unsel {
  user-select: none;
}

.startb {
  background-color: rgb(72, 34, 40);
  grid-area: startb;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: auto;
}

.version {
  display: grid;
  background: linear-gradient(135deg, rgba(38, 73, 70, 0.5) 20%, rgba(41, 77, 74, 0.5) 20%, rgba(41, 77, 74, 0.5) 80%, rgba(38, 73, 70, 0.5) 80%, rgba(38, 73, 70, 0.5) 100%);
  grid-area: version;
}
.version .content {
  font-family: W;
  display: grid;
}
.version .content .version_name {
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  font-size: 30px;
  font-family: W;
}
.version .content .version_name > div:nth-child(1) {
  display: grid;
  justify-content: end;
  color: rgb(139, 135, 70);
  font-family: W;
  text-shadow: none;
  font-size: 20px;
}
.version .content .version_name > div:nth-child(2) {
  display: grid;
  justify-content: center;
  background-color: rgb(139, 135, 70);
  color: rgb(41, 77, 74);
  font-family: W;
  text-shadow: none;
  font-size: 20px;
}
.version .content .info {
  display: grid;
}
.version .content .info .title {
  font-family: SR;
  padding-top: 3%;
  color: rgb(139, 135, 70);
}
.version .content .info .title .date {
  font-size: 20px;
  text-shadow: none;
  color: rgb(0, 146, 102);
}
.version .content .info .news_list {
  align-self: start;
  display: grid;
  grid-template-columns: 20% 80%;
}
.version .content .info .news_list > div:first-child {
  display: grid;
  justify-content: end;
}
.version .content .info .news_list > div:first-child .unsel {
  font-size: 20px;
}
.version .content .info .news_list .lined {
  text-align: justify;
  font-family: W;
  font-size: 18px;
  padding: 1%;
  color: rgba(187, 184, 123, 0.5);
}
.version .content .info .news_list .lined .unsel {
  font-size: 20px;
  font-family: W;
  color: rgb(207, 198, 69);
}
.version .content .info .news_list .lined .matter {
  font-family: W;
  font-size: 18px;
}

.matter {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 15px;
  font-family: SR;
  font-size: 40px;
  color: rgb(207, 198, 69);
}

.matter2 {
  color: rgb(139, 135, 70);
}

.z0 {
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
}

.z1 {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
}

.z2 {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

.mini_description {
  justify-self: end;
  align-self: start;
  font-size: 0.8vw;
  color: rgb(139, 135, 70);
  user-select: none;
  padding-right: 1vw;
  background-color: rgba(0, 0, 0, 0.082);
}

.title {
  text-shadow: 3px 3px rgb(16, 0, 19);
  padding: 1% 2%;
  font-size: 40px;
}

a:has(.start_app_but) {
  overflow: hidden;
}

.start_app_but {
  background-color: rgb(112, 53, 53);
  display: grid;
  user-select: none;
}
.start_app_but .z0 {
  background-color: rgba(139, 139, 139, 0.021);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.07) 100%);
  transition: padding 0.5s, letter-spacing 1s;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-style: italic;
  padding-top: 6vh;
  align-self: end;
  justify-self: end;
  font-size: 15vh;
}
.start_app_but .z1 {
  transition: padding 0.5s;
  font-size: 60px;
}
.start_app_but .z2 {
  transition: padding 0.5s;
  padding-right: 0;
  color: rgb(207, 198, 69);
}
.start_app_but span {
  font-size: 60px;
}

.start_app_but:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  background-color: rgb(134, 64, 64);
}
.start_app_but:hover .z0 {
  letter-spacing: 0.6vw;
  transition: padding 1s, letter-spacing 1s;
  padding-right: 10%;
}
.start_app_but:hover .z1 {
  transition: padding 1s;
  padding-left: 3%;
}
.start_app_but:hover .z2 {
  transition: padding 1s;
  padding-right: 1vw;
}

.load_status {
  background-color: rgb(72, 34, 40);
  user-select: none;
  font-size: 24px;
  justify-self: end;
  padding: 0 1%;
  align-self: center;
}

.cssalive_grid {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-areas: "nav nav" "what startb" "what version";
  grid-template-rows: 8vh 92vh;
  grid-template-columns: 50% 50%;
}

.app_container {
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2vw 1fr;
  grid-template-rows: 100%;
}

div:has(textarea) {
  font-size: 22px;
}

.middlecol {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 38vh 1fr 1fr 1fr 28vh;
}
.middlecol .start {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/play.png");
  width: 5vw;
  height: 7vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .start:hover {
  opacity: 0.8;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .settings {
  grid-row: 3;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/setting.png");
  width: 4vw;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .settings:hover {
  opacity: 0.8;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .report {
  grid-row: 4;
  grid-column: 1;
  z-index: 1;
  background: url("../imgs/result.png");
  width: 4vw;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlecol .report:hover {
  opacity: 0.8;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.middlecol .settings_block {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  grid-row: 1/6;
  grid-column: 1;
  z-index: 0;
  display: grid;
  grid-template-columns: 2vw 1fr 2vw;
  grid-template-rows: 1fr;
  align-self: stretch;
  justify-self: stretch;
}
.middlecol .settings_block .main_col {
  display: grid;
  grid-template-rows: 9% 1fr 9%;
  overflow-y: auto;
  background: rgba(37, 56, 54, 0.5);
}
.middlecol .settings_block .main_col .title {
  background: linear-gradient(135deg, rgba(58, 58, 58, 0.479) 70%, rgba(58, 58, 58, 0.26) 70%);
  font-size: 7vh;
  overflow: hidden;
  grid-row: 1;
  margin-bottom: 1.5vh;
  user-select: none;
  transition: all 1s;
  color: rgb(139, 135, 70);
}
.middlecol .settings_block .main_col .content {
  font-size: 1.5vh;
  margin-bottom: 1vh;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  grid-row: 2;
  padding: 2vh 2vw;
  display: grid;
  justify-items: stretch;
}
.middlecol .settings_block .main_col .content .global_set {
  background: rgba(0, 0, 0, 0.096);
  margin: 2vh 0;
  padding: 2vh 2vw;
}
.middlecol .settings_block .main_col .content .lib_select {
  background: rgba(0, 0, 0, 0.096);
  margin: 2vh 0;
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.middlecol .settings_block .main_col .content .lib_select input:checked + label {
  background: rgb(112, 53, 53);
}
.middlecol .settings_block .main_col .content .csscomb_set {
  background: rgba(0, 0, 0, 0.096);
  margin: 1vh 0;
  padding: 2vh 0 0 0;
}
.middlecol .settings_block .main_col .content .set_title {
  font-size: 1.3vh;
  display: grid;
  justify-content: end;
  margin-right: 1vw;
  font-family: W;
}
.middlecol .settings_block .main_col .content .about {
  color: rgba(187, 184, 123, 0.5);
  font-size: 1.8vh;
  margin-top: 2vh;
  white-space: unset;
}
.middlecol .settings_block .main_col .content .inner {
  display: grid;
  grid-template-columns: 1fr 20%;
  margin: 1vh 1vw;
}
.middlecol .settings_block .main_col .content .inner input {
  opacity: 0.8;
  font-size: 2vh;
  color: rgb(207, 198, 69);
  border: none;
  text-align: center;
  background: rgba(187, 184, 123, 0.5);
}
.middlecol .settings_block .main_col .content .inner input:focus {
  outline: none;
}
.middlecol .settings_block .main_col .content .inner label {
  color: rgb(207, 198, 69);
  font-size: 2vh;
  letter-spacing: 0.1vw;
  text-shadow: 0 0 0.2vw rgb(16, 0, 19);
  background: rgba(187, 184, 123, 0.5);
  font-family: SR;
  padding: 2vh 1vw;
}
.middlecol .settings_block .main_col .content .radio {
  display: grid;
  margin: 1vh 1vw;
}
.middlecol .settings_block .main_col .content .radio input {
  display: none;
}
.middlecol .settings_block .main_col .content .radio input:checked + label {
  background: linear-gradient(90deg, rgb(112, 53, 53) 90%, rgb(112, 53, 53) 90%);
  color: rgb(207, 198, 69);
}
.middlecol .settings_block .main_col .content .radio label {
  letter-spacing: 0.1vw;
  text-shadow: 0.2vw 0.3vh rgb(16, 0, 19);
  background: linear-gradient(90deg, rgb(72, 34, 40) 95%, rgb(112, 53, 53) 95%);
  font-family: W;
  padding: 2vh 1vw;
}
.middlecol .settings_block .main_col .content .radio label:hover {
  opacity: 0.8;
}
.middlecol .settings_block .main_col .content .check {
  display: grid;
  margin: 3vh 1vw;
}
.middlecol .settings_block .main_col .content .check input {
  display: none;
}
.middlecol .settings_block .main_col .content .check input:checked + label {
  background: rgb(0, 70, 41);
  color: rgb(207, 198, 69);
}
.middlecol .settings_block .main_col .content .check input:checked + label::after {
  margin-left: 1vw;
  content: "ON";
  background-color: rgb(0, 70, 41);
}
.middlecol .settings_block .main_col .content .check label {
  overflow: hidden;
  display: grid;
  grid-template-columns: 80% 20%;
  align-content: stretch;
  color: rgb(207, 198, 69);
  letter-spacing: 0.1vw;
  text-shadow: 0 0 0.2vw rgb(16, 0, 19);
  background: rgb(72, 34, 40);
  font-family: Arial;
  font-size: 1.5vh;
  padding: 2vh 1vw;
}
.middlecol .settings_block .main_col .content .check label:hover {
  opacity: 0.8;
}
.middlecol .settings_block .main_col .content .check label::after {
  margin-left: 1vw;
  content: "OFF";
}
.middlecol .settings_block .main_col .accept_block {
  margin-top: 1vw;
  transition: opacity 0.2s;
  opacity: 0;
  width: 80%;
  grid-row: 3;
  display: grid;
  justify-self: center;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  font-size: 3vh;
  white-space: nowrap;
}
.middlecol .settings_block .main_col .accept_block .accept {
  overflow: hidden;
  background: rgb(0, 70, 41);
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 2vw;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  transition: transform 0.2s;
}
.middlecol .settings_block .main_col .accept_block .accept:hover {
  transition: transform 0.2s;
  transform: translate(0, 10%);
}
.middlecol .settings_block .main_col .accept_block .cancel {
  overflow: hidden;
  color: rgb(16, 0, 19);
  background: rgb(112, 53, 53);
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 2vw;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  transition: transform 0.2s;
}
.middlecol .settings_block .main_col .accept_block .cancel:hover {
  transition: transform 0.2s;
  transform: translate(0, 10%);
}
.middlecol .settings_block .beauty_col_left {
  background: linear-gradient(225deg, transparent 50%, RGB(30, 57, 50) 50%, RGB(30, 57, 50) 70%, transparent 70%, transparent 100%), linear-gradient(135deg, transparent 40%, RGB(30, 57, 50) 40%, RGB(30, 57, 50) 60%, transparent 60%, transparent 100%);
}
.middlecol .settings_block .beauty_col_right {
  background: linear-gradient(-225deg, transparent 50%, RGB(30, 57, 50) 50%, RGB(30, 57, 50) 70%, transparent 70%, transparent 100%), linear-gradient(-135deg, transparent 40%, RGB(30, 57, 50) 40%, RGB(30, 57, 50) 60%, transparent 60%, transparent 100%);
}

.report_page {
  display: none;
  align-self: stretch;
  justify-self: stretch;
  grid-row: 1/1;
  grid-column: 1/1;
  grid-template-rows: 10vh 1fr 20vh;
}
.report_page .title_block {
  display: grid;
  justify-content: center;
  text-align: center;
}
.report_page .title_block .title {
  font-size: 4vh;
}
.report_page .preview_block {
  background: rgba(0, 0, 0, 0.349);
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}
.report_page .preview_block .preview {
  margin: 4vh 2vw;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}
.report_page .preview_block .preview .iframe {
  scale: 5;
  width: 1920px;
  height: 1080px;
}
.report_page .time_load_block {
  margin: 4vh 2w;
  font-family: W;
  display: grid;
}
.report_page .time_load_block .matter2 {
  color: rgb(207, 198, 69);
}
.report_page .time_load_block .time_load {
  color: rgb(255, 136, 0);
  background: linear-gradient(135deg, transparent 10%, rgb(72, 34, 40) 10%, rgb(72, 34, 40) 65%, rgba(255, 255, 255, 0.1) 65%, rgba(255, 255, 255, 0.1) 80%, rgb(72, 34, 40) 80%, rgb(72, 34, 40) 90%, transparent 10%);
  padding: 2vh 3vw;
  display: grid;
  align-self: start;
  grid-template-columns: 70% 20% 10%;
}
.report_page .time_load_block .time_load div {
  overflow: hidden;
  font-size: 2.5vh;
}

.leftcol {
  transition: opacity 1s;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr 2vw;
}
.leftcol .main_col {
  overflow: hidden;
  background: linear-gradient(225deg, rgba(37, 56, 54, 0.438) 5%, rgba(37, 56, 54, 0.5) 5%, rgba(37, 56, 54, 0.5) 95%, rgba(37, 56, 54, 0.247) 95%);
}
.leftcol .main_col.css_page {
  display: grid;
  grid-row: 1/1;
  grid-column: 1/1;
}
.leftcol .main_col.html_page {
  display: grid;
  grid-row: 1/1;
  grid-column: 1/1;
}
.leftcol .main_col.report_page {
  display: none;
  align-self: stretch;
  justify-self: stretch;
  grid-row: 1/1;
  grid-column: 1/1;
}
.leftcol .main_col .code_block {
  grid-row: 1/1;
  grid-column: 1/1;
  overflow: hidden;
  display: grid;
}
.leftcol .beauty_col {
  background: linear-gradient(225deg, transparent 3%, rgba(37, 56, 54, 0.438) 3%, rgba(37, 56, 54, 0.438) 20%, transparent 30%, transparent 70%, rgba(52, 117, 85, 0.438) 70%, rgba(37, 56, 54, 0.438) 80%, transparent 90%), linear-gradient(135deg, transparent 10%, rgba(37, 56, 54, 0.438) 20%, rgba(52, 117, 85, 0.438) 40%, transparent 40%, transparent 70%, rgba(37, 56, 54, 0.438) 80%, rgba(37, 56, 54, 0.438) 97%, transparent 97%);
}

.rightcol {
  transition: opacity 1s;
  display: grid;
  grid-column: 3;
  grid-row: 1;
  grid-template-columns: 2vw 1fr;
}
.rightcol .upload_block p {
  font-size: 22px;
  color: rgba(187, 184, 123, 0.5);
  font-family: SR;
}
.rightcol div:has(textarea) {
  overflow: hidden;
}
.rightcol .main_col {
  display: grid;
  background: linear-gradient(135deg, rgba(37, 56, 54, 0.438) 5%, rgba(37, 56, 54, 0.5) 5%, rgba(37, 56, 54, 0.5) 95%, rgba(37, 56, 54, 0.247) 95%);
}
.rightcol .main_col.report_page {
  display: none;
  align-self: stretch;
  justify-self: stretch;
  grid-row: 1/1;
  grid-column: 2/2;
}
.rightcol .beauty_col {
  background: linear-gradient(-225deg, transparent 3%, rgba(37, 56, 54, 0.438) 3%, rgba(37, 56, 54, 0.438) 20%, transparent 30%, transparent 70%, rgba(52, 117, 85, 0.438) 70%, rgba(37, 56, 54, 0.438) 80%, transparent 90%), linear-gradient(-135deg, transparent 10%, rgba(37, 56, 54, 0.438) 20%, rgba(52, 117, 85, 0.438) 40%, transparent 40%, transparent 70%, rgba(37, 56, 54, 0.438) 80%, rgba(37, 56, 54, 0.438) 97%, transparent 97%);
}

.upload_block {
  min-width: 20vw;
  font-size: 18px;
  justify-self: center;
  align-self: center;
}
.upload_block input {
  display: none;
}
.upload_block .open_but {
  text-align: center;
  font-size: 22px;
  margin: 2vh 3vw;
  padding: 20px;
  text-shadow: 3px 3px rgb(16, 0, 19);
  transition: all 0.2s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgb(112, 53, 53) 10%, rgb(112, 53, 53) 20%, rgb(72, 34, 40) 20%, rgb(72, 34, 40) 90%, rgba(0, 0, 0, 0) 90%);
}
.upload_block .open_but:hover {
  letter-spacing: 0.2vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgb(139, 135, 70) 10%, rgb(139, 135, 70) 20%, rgba(187, 184, 123, 0.5) 20%, rgba(187, 184, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
  transition: all 0.2s;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.upload_block p {
  font-family: W;
  margin-top: 3vh;
  text-align: center;
}

.app_nav {
  /*background: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0) 40%,
      rgb(36, 52, 60) 40%,
      rgb(36, 52, 60) 80%,
      rgba(0, 0, 0, 0) 80%
    ),
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0) 40%,
      rgb(36, 52, 60) 40%,
      rgb(36, 52, 60) 80%,
      rgba(0, 0, 0, 0) 80%
    );*/
  display: grid;
  grid-column: 1/4;
  justify-self: stretch;
  font-size: 3vh;
  transition: opacity 1s;
}
.app_nav .content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5% 12% 1fr 5% 7% 5vw 7% 5% 1fr 5% 12%;
  /*.history {
    background: linear-gradient(
      rgba(233, 245, 64, 0.082),
      rgba(0, 0, 0, 0) 70%
    );
    .mini_icon {
      background: $history_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .example {
    .mini_icon {
      background: $example_icon, $history_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .instruction {
    .mini_icon {
      background: $instruction_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .theme {
    .mini_icon {
      background: $theme_icon;
      width: 4vw;
      height: 4vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }*/
}
.app_nav .content > div {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  align-items: stretch;
}
.app_nav .content .menu {
  margin: 1.5vh 1.5vw;
  grid-column: 1;
  background-image: url("../imgs/menu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .menu:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.app_nav .content .change_code {
  margin-top: 2vh;
  grid-column: 2;
}
.app_nav .content .change_code .css {
  user-select: none;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(37, 56, 54, 0.5);
  width: 6vw;
  height: 100%;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.app_nav .content .change_code .html {
  user-select: none;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(37, 56, 54, 0.3);
  width: 6vw;
  height: 100%;
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
.app_nav .content .clear_in {
  margin: 2vh 1.5vw 1.5vh 1.5vw;
  grid-column: 4;
  background-image: url("../imgs/clear2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .clear_in:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.app_nav .content .move_in {
  margin: 2vh 1.5vw 2vh 1.5vw;
  grid-column: 5;
  background-image: url("../imgs/right-arrow2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .move_in:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.app_nav .content .move_out {
  scale: -1 1;
  margin: 2vh 1.5vw 2vh 1.5vw;
  grid-column: 7;
  background-image: url("../imgs/right-arrow2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .move_out:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.app_nav .content .clear_out {
  margin: 2vh 1.5vw 1.5vh 1.5vw;
  grid-column: 8;
  background-image: url("../imgs/clear2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .clear_out:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.app_nav .content .download_out {
  margin: 1vh 0;
  grid-column: 11;
  grid-template-columns: 70% 30%;
  align-items: stretch;
  justify-items: stretch;
}
.app_nav .content .download_out label {
  margin-bottom: 0.5vh;
  align-self: end;
  font-size: 2vh;
  grid-column: 1/3;
}
.app_nav .content .download_out label:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Arrow.cur"), auto;
}
.app_nav .content .download_out input {
  border: none;
  background-color: rgba(37, 56, 54, 0.5);
  color: rgb(207, 198, 69);
  font-size: 2vh;
  padding: 0 0.5vw;
}
.app_nav .content .download_out input:focus {
  outline: none;
}
.app_nav .content .download_out input::placeholder {
  color: rgb(139, 135, 70);
}
.app_nav .content .download_out .download_but {
  background-color: rgb(72, 34, 40);
  background-image: url("../imgs/download.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.app_nav .content .download_out .download_but:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}

label {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}

.error_val {
  text-decoration: underline;
  text-decoration-color: red;
}

.menu_block {
  display: grid;
  justify-content: space-around;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 8vh;
  background: rgb(139, 135, 70);
  transition: width 0.5s;
}
.menu_block > div, .menu_block > a {
  width: 3vw;
  margin: 2vh 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu_block > div:hover, .menu_block > a:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.menu_block .files {
  background-image: url("../imgs/folder.png");
}
.menu_block .login {
  background-image: url("../imgs/account.png");
}
.menu_block .close_menu {
  scale: -1 1;
  background-image: url("../imgs/right-arrow.png");
}

body:has(.login_page) {
  height: 100vh;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 70, 41);
}
body:has(.login_page) .login_page {
  border-radius: 1vh;
  padding: 1vh 2vw;
  display: grid;
  background: rgb(139, 135, 70);
}
body:has(.login_page) .login_page h2 {
  text-shadow: 0.1vh 0.1vw rgb(16, 0, 19);
  font-size: 4vh;
}
body:has(.login_page) .login_page input {
  padding: 1vh;
  border: none;
  border-radius: 2vw;
  outline: none;
  margin-top: 2vh;
  font-size: 2vh;
}
body:has(.login_page) .login_page input[type=submit] {
  background: rgb(0, 70, 41);
  color: white;
}
body:has(.login_page) .login_page input[type=submit]:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
}
body:has(.login_page) .login_page form {
  display: grid;
  grid-auto-flow: row;
}
body:has(.login_page) .login_page .go_reg {
  display: grid;
  justify-content: end;
  margin-top: 3vh;
  color: rgb(112, 53, 53);
  font-size: 2.3vh;
}

.files_form {
  visibility: hidden;
  z-index: 10000000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: start;
  justify-content: start;
}
.files_form .files_block {
  padding: 0 0 2vh 0;
  display: grid;
  width: 30vw;
  background: linear-gradient(-35deg, transparent 3%, rgb(139, 135, 70) 3%);
  grid-auto-flow: row;
}
.files_form .files_block .control_line {
  display: grid;
  grid-template-columns: 1fr 20%;
  justify-self: stretch;
  background: linear-gradient(-35deg, transparent 5%, rgba(0, 0, 0, 0.2) 5%);
  padding: 1vw;
  font-family: W;
}
.files_form .files_block .control_line:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}
.files_form .files_block .control_line .name {
  text-shadow: 0.1vh 0.1vw rgb(16, 0, 19);
  color: rgb(255, 136, 0);
}
.files_form .files_block .control_line .close_files {
  rotate: -90deg;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../imgs/right-arrow.png");
}
.files_form .files_block .files_list {
  overflow-y: auto;
  max-height: 60vh;
  display: grid;
}
.files_form .files_block .files_list .file_line {
  min-height: 6vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  font-size: 2.4vh;
  color: white;
  text-shadow: 0.05vh 0.05vw rgb(16, 0, 19);
}
.files_form .files_block .files_list .file_line > div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.files_form .files_block .files_list .file_line .load_file {
  margin: 0.5vh 0.5vw;
  background: linear-gradient(-35deg, transparent 10%, rgba(0, 0, 0, 0.1) 10%);
}
.files_form .files_block .files_list .file_line .load_file:hover {
  cursor: url("../fonts/Hacked Mod Cursors/Hacked Mod Green/Hand.cur"), auto;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
