<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css">

        <link rel="stylesheet" href="./scripts/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="./scripts/codemirror/theme/the-matrix.css">
        <link rel="stylesheet" href="./scripts/codemirror/theme/3024-day.css">
    </head>
    <body>
        <div class="cssalive_grid">
            <div class="app_nav">
                <div class="z2 mini_description">_зона навигации</div>
                <div class="z1 content">
                    <div class="change_code"><div class="css">CSS</div><div class="html">HTML</div></div>

                    <!--div class="history"><div class="mini_icon"></div>ИСТОРИЯ</div>
                    <div class="example"><div class="mini_icon"></div>ПРИМЕРЫ</div>
                    <div class="instruction"><div class="mini_icon"></div>ИНСТРУКЦИЯ</div>
                    <div class="theme"><div class="mini_icon"></div>ПАРАМЕТРЫ</div-->
                </div>
            </div>


            <div class="app_container">

                <div class="leftcol">
                    <div class="main_col css_page">
                        <div class="z2 mini_description">_зона ввода CSS</div>
    
                        <div class="z2 upload_block">
                            <p>Введите CSS вручную</p>
                            <p>ИЛИ</p>
                            <form method="post" enctype="multipart/form-data" id="id_form_upload_css">
                                <input type="hidden" id="MAX_FILE_SIZE_CSS" name="MAX_FILE_SIZE" value="100000000" />
                                <input type="file" id="id_file_css" name="css_file" onchange="loadFile(this)"/><label for="id_file_css"><div class="open_but">Добавьте Файл</div></label>
                                <input type="submit" id="sub_css" name="sub_css" hidden>
                            </form>
                        </div>
                    
                        <div class="z1 code_block">
                            <textarea id="code_editor_css"></textarea>
                        </div>

                        <div class="z1 report_block">
                            <iframe src="/"></iframe>
                        </div>
                    </div>

                    <div class="main_col html_page">
                        <div class="z2 mini_description">_зона ввода HTML</div>
    
                        <div class="z2 upload_block">
                            <p>Введите HTML вручную</p>
                            <p>ИЛИ</p>
                            <form method="post" enctype="multipart/form-data" id="id_form_upload_html">
                                <input type="hidden" id="MAX_FILE_SIZE_HTML" name="MAX_FILE_SIZE" value="100000000" />
                                <input type="file" id="id_file_html" name="html_file" onchange="loadFile(this)"/><label for="id_file_html"><div class="open_but">Добавьте Файл</div></label>
                                <input type="submit" id="sub_html" name="sub" hidden>
                            </form>
                        </div>
                    
                        <div class="z1 code_block">
                            <textarea id="code_editor_html"></textarea>
                        </div>

                        <div class="z1 report_block">
                            <iframe src="/"></iframe>
                        </div>
                    </div>

                    <div class="beauty_col"></div>
                </div>
    
                <div class="middlecol">
                    <div class="start"></div>
                    <div class="settings"></div>
                    <div class="report"></div>
                    <div class="settings_block">
                        <div class="beauty_col_left"></div>

                        <div class="main_col">
                            <div class="mini_description z2">
                                _зона настроек рефакторинга
                            </div>
                            <div class="title z1">
                                НАСТРОЙКИ
                            </div>
                            <div class="content z1">
                                <form id="settings_form">

                                    <div class="global_set">
                                        <div class="set_title">
                                            ПРЕДНАСТРОЙКИ:
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="set_readable" name="global_set" value="set_readable" checked/>
                                            <label for="set_readable">Улучшить читаемость кода</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="set_minify" name="global_set" value="set_minify"/>
                                            <label for="set_minify">Улучшить скорость загрузки</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="set_other" name="global_set" value="set_other"/>
                                            <label for="set_other">Другое</label>
                                        </div>
                                        <div class="about">
                                            
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="accept_block z1">
                                <div class="accept">ОК &#10004;</div>
                                <div class="cancel">&#10006; ОТМЕНА</div>
                            </div>
                        </div>

                        <div class="beauty_col_right"></div>
                    </div>
                </div>
    
                <div class="rightcol">
                    <div class="beauty_col"></div>

                    <div class="main_col">
                        <div class="z2 mini_description">_зона вывода</div>

                        <div class="z2 upload_block">
                            <p>Здесь будет исправленный CSS код,</p>
                            <p>когда выполните указания слева и нажмёте CТАРТ</p>
                        </div>

                        <div class="z1">
                            <textarea id="code_out"></textarea>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
    <script src="./scripts/jquery.js"></script>

    <script src="./scripts/codemirror/lib/codemirror.js"></script>
    <script src="./scripts/codemirror/mode/css/css.js"></script>
    <script src="./scripts/codemirror/mode/xml/xml.js"></script>
    <script src="./scripts/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="./scripts/codemirror/addon/edit/closebrackets.js"></script>
    <script src="./scripts/codemirror/addon/edit/closetag.js"></script>
    <script src="./scripts/codemirror/addon/comment/continuecomment.js"></script>
    <script src="./scripts/codemirror/addon/scroll/scrollpastend.js"></script>
    <script src="./scripts/code_editor.js"></script>

    <script src="./scripts/btn_controller.js"></script>
    <script src="./scripts/svg_replacer.js"></script>
    <script src="./scripts/load_file_controller.js"></script>
    <script src="./scripts/upload_block_controller.js"></script>
</html>