<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css">

        <link rel="stylesheet" href="./scripts/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="./scripts/codemirror/theme/the-matrix.css">
        <link rel="stylesheet" href="./scripts/codemirror/theme/3024-day.css">
        <link rel="stylesheet" href="./scripts/codemirror/addon/hint/show-hint.css">
    </head>
    <body>
        <div class="cssalive_grid">
            <div class="app_nav">
                <div class="z2 mini_description"></div>
                <div class="z1 content">

                    <div class="menu"></div>

                    <div class="change_code">
                        <div class="css">CSS</div>
                        <div class="html">HTML</div>
                    </div>

                    <div class="clear_in"></div>
                    <div class="move_in"></div>

                    <div class="move_out"></div>
                    <div class="clear_out"></div>

                    <div class="download_out">
                        <!--label for="id_out_file_name">имя файла</label-->
                        <input name="out_file_name" id="id_out_file_name" placeholder="style.css">
                        <div class="download_but"></div>
                    </div>

                    <!--div class="history"><div class="mini_icon"></div>ИСТОРИЯ</div>
                    <div class="example"><div class="mini_icon"></div>ПРИМЕРЫ</div>
                    <div class="instruction"><div class="mini_icon"></div>ИНСТРУКЦИЯ</div>
                    <div class="theme"><div class="mini_icon"></div>ПАРАМЕТРЫ</div-->
                </div>
            </div>


            <div class="app_container">

                <div class="leftcol">
                    <div class="main_col css_page">
                        <div class="z2 mini_description">_зона ввода CSS</div>
    
                        <div class="z2 upload_block">
                            <p>Введите <span class="matter2">CSS</span></p>
                            <p>ИЛИ</p>
                            <form method="post" enctype="multipart/form-data" id="id_form_upload_css">
                                <input type="hidden" id="MAX_FILE_SIZE_CSS" name="MAX_FILE_SIZE" value="100000000" />
                                <input type="file" id="id_file_css" name="css_file"/><label for="id_file_css"><div class="open_but">Добавьте Файл</div></label>
                                <input type="submit" id="sub_css" name="sub_css" hidden>
                            </form>
                        </div>
                    
                        <div class="z1 code_block">
                            <textarea id="code_editor_css"></textarea>
                        </div>
                    </div>

                    <div class="main_col html_page">
                        <div class="z2 mini_description">_зона ввода HTML</div>
    
                        <div class="z2 upload_block">
                            <p>Введите <span class="matter2">HTML</span></p>
                            <p>ИЛИ</p>
                            <form method="post" enctype="multipart/form-data" id="id_form_upload_html">
                                <input type="hidden" id="MAX_FILE_SIZE_HTML" name="MAX_FILE_SIZE" value="100000000" />
                                <input type="file" id="id_file_html" name="html_file"/><label for="id_file_html"><div class="open_but">Добавьте Файл</div></label>
                                <input type="submit" id="sub_html" name="sub" hidden>
                            </form>
                        </div>
                    
                        <div class="z1 code_block">
                            <textarea id="code_editor_html"></textarea>
                        </div>
                    </div>

                    <div class="main_col report_page">
                        <div class="title_block">
                            <div class="title">
                                До рефаткоринга
                            </div>
                        </div>
                        <div class="preview_block">
                            <div class="preview">
                                <iframe src="https://github.com/csscomb/csscomb.js/"></iframe>
                            </div>
                        </div>
                        <div class="time_load_block">
                            <div class="time_load">
                                <div>Время загрузки в среднем:</div>
                                <div class="matter2 time_val">22000</div>
                                <div>мс</div>
                            </div>
                        </div>
                    </div>

                    <div class="beauty_col"></div>
                </div>
    
                <div class="middlecol">
                    <div class="start"></div>
                    <div class="settings"></div>
                    <div class="report"></div>
                    <div class="settings_block">
                        <div class="beauty_col_left"></div>

                        <div class="main_col">
                            <div class="mini_description z2">
                                _зона настроек рефакторинга
                            </div>
                            <div class="title z1">
                                НАСТРОЙКИ
                            </div>
                            <div class="content z1">
                                

                                    <div class="global_set">
                                        <div class="set_title">
                                            ПРЕДНАСТРОЙКИ:
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="set_readable" name="global_set" value="set_readable" checked/>
                                            <label for="set_readable">Улучшить читаемость кода</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="set_minify" name="global_set" value="set_minify"/>
                                            <label for="set_minify">Улучшить скорость загрузки</label>
                                        </div>
                                        <!--div class="radio">
                                            <input type="radio" id="set_other" name="global_set" value="set_other"/>
                                            <label for="set_other">Другое</label>
                                        </div-->
                                        <div class="about">
                                            Этот выбор изменит все остальные настройки
                                        </div>
                                    </div>

                                <!--form id="csscomb_form"-->

                                    <div class="csscomb_set">
                                        <div class="set_title">
                                            РЕДАКТОР:
                                        </div>
                                        <div class="inner">
                                            <label for="id_block-indent">пробелов при табуляции</label>
                                            <input id="id_block-indent" name="block-indent" value="2" maxlength="1"/>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_eof-newline" name="eof-newline" checked/>
                                            <label for="id_eof-newline">после "}" добавлять "\n" (если OFF, то удалять)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_always-semicolon" name="always-semicolon" checked/>
                                            <label for="id_always-semicolon">расставлять ";"</label>
                                        </div>
                                    </div>
                                    <div class="csscomb_set">
                                        <div class="set_title">
                                            ДРУГОЕ:
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_color-case">из #FFF в #fff (если OFF, то наоборот)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_color-shorthand" name="color-shorthand" checked/>
                                            <label for="id_color-shorthand">из #ffcc00 в #fc0 (если OFF, то наоборот)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_element-case" name="element-case" value="lower" checked/>
                                            <label for="id_element-case">из "BODY" в "body" (если OFF, то наоборот)</label>
                                        </div>
                                        
                                        <div class="check">
                                            <input type="checkbox" id="id_leading-zero" name="leading-zero"/>
                                            <label for="id_leading-zero">из ".5em" в "0.5em" (если OFF, то наоборот)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_quotes" name="quotes" value="single" checked/>
                                            <label for="id_quotes">из ["] в ['] (если OFF, то наоборот)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_remove-empty-rulesets" name="remove-empty-rulesets" checked/>
                                            <label for="id_remove-empty-rulesets">удалять пустые обьявления</label>
                                        </div>
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <!--div class="check">
                                            <input type="checkbox" id="id_color-case" name="color-case" value="lower" checked/>
                                            <label for="id_always-semicolon">RED -> red</label>
                                        </div-->
                                        <div class="check">
                                            <input type="checkbox" id="id_strip-spaces" name="strip-spaces" checked/>
                                            <label for="id_strip-spaces">удалять лишние пробелы</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_unitless-zero" name="unitless-zero" checked/>
                                            <label for="id_unitless-zero">обращать "0px", "0em" и т.д. в "0"</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_vendor-prefix-align" name="vendor-prefix-align" checked/>
                                            <label for="id_vendor-prefix-align">выравнивать вендорные префиксы</label>
                                        </div>
                                    </div>
                                    <!--div class="lib_select">
                                        <div class="set_title">
                                            БИБЛИОТЕКА ОПТИМИЗАЦИИ:
                                        </div>
                                        <div class="radio">
                                            <label for="id_csso">CSSO</label>
                                            <input type="radio" id="id_csso" name="min_lib" value="csso"/>
                                        </div>
                                        <div class="radio">
                                            <label for="id_cssnano">CSSNano</label>
                                            <input type="radio" id="id_cssnano" name="min_lib" value="cssnano" checked/>
                                        </div>
                                    </div-->

                                    <div class="csscomb_set">
                                        <div class="set_title">
                                            Оптимизация:
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_autoprefixer" name="autoprefixer"/>
                                            <label for="id_autoprefixer">Контролировать вендорные префиксы</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_calc" name="calc"/>
                                            <label for="id_calc">Считать calc(...)</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_colormin" name="colormin"/>
                                            <label for="id_colormin">Конвертировать цвета в наименьший формат</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_convertValues" name="convertValues"/>
                                            <label for="id_convertValues">Конвертировать значения в эквивалентные</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_discardComments" name="discardComments"/>
                                            <label for="id_discardComments">Удалять комментарии (кроме тех что с "!")</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_mergeLonghand" name="mergeLonghand"/>
                                            <label for="id_mergeLonghand">Сжимать значения для margin, padding, border</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_mergeRules" name="mergeRules"/>
                                            <label for="id_mergeRules">Объединять правила</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_minifyFontValues" name="minifyFontValues"/>
                                            <label for="id_minifyFontValues">Нормализовать font-family, font-weight</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_minifyGradients" name="minifyGradients"/>
                                            <label for="id_minifyGradients">Нормализовать градиенты</label>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" id="id_zindex" name="zindex"/>
                                            <label for="id_zindex">Пересчитать значения z-index (НЕБЕЗОПАСНО)</label>
                                        </div>
                                        <!--div class="check">
                                            <input type="checkbox" id="id_discardUnused" name="discardUnused"/>
                                            <label for="id_discardUnused">удалять правила типа @keyframes которые не используются (НЕБЕЗОПАСНО)</label>
                                        </div-->
                                        <div class="check">
                                            <input type="checkbox" id="id_normalizeWhitespace" name="normalizeWhitespace"/>
                                            <label for="id_normalizeWhitespace">Всё в одну строку</label>
                                        </div>
                                    </div>

                                <!--/form-->
                            </div>
                            <div class="accept_block z1">
                                <div class="accept">ПРИМЕНИТЬ</div>
                                <div class="cancel">ОТМЕНА</div>
                            </div>
                        </div>

                        <div class="beauty_col_right"></div>
                    </div>
                </div>
    
                <div class="rightcol">
                    <div class="beauty_col"></div>

                    <div class="main_col">
                        <div class="z2 mini_description">_зона вывода</div>

                        <div class="z2 upload_block">
                            <p>Здесь будет исправленный CSS код,</p>
                            <p>когда выполните указания слева и нажмёте CТАРТ</p>
                        </div>

                        <div class="z1">
                            <textarea id="code_out"></textarea>
                        </div>
                    </div>

                    <div class="main_col report_page">
                        <div class="title_block">
                            <div class="title">
                                После рефаткоринга
                            </div>
                        </div>
                        <div class="preview_block">
                            <div class="preview">
                                <iframe></iframe>
                            </div>
                        </div>
                        <div class="time_load_block">
                            <div class="time_load">
                                <div>Время загрузки в среднем:</div>
                                <div class="matter2 time_val">22000</div>
                                <div>мс</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
    <!--IMPORTS-->
    <script src="./scripts/import/jquery.js"></script>

    <script src="./scripts/import/FileSaver.js"></script>

    <script src="./scripts/import/csstree-validator.js"></script>

    <script src="./scripts/codemirror/lib/codemirror.js"></script>
    <script src="./scripts/codemirror/mode/css/css.js"></script>
    <script src="./scripts/codemirror/mode/xml/xml.js"></script>
    <script src="./scripts/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="./scripts/codemirror/addon/edit/closebrackets.js"></script>
    <script src="./scripts/codemirror/addon/edit/closetag.js"></script>
    <script src="./scripts/codemirror/addon/comment/continuecomment.js"></script>
    <script src="./scripts/codemirror/addon/scroll/scrollpastend.js"></script>

    <!--OWN SCRIPTS-->
    <script src="./scripts/constants.js"></script>

    <script src="./scripts/FormController.js"></script>
    <script src="./scripts/CSSCombConfigurator.js"></script>
    <script src="./scripts/CSSNanoConfigurator.js"></script>
    <script src="./scripts/DataSender.js"></script>
    <script src="./scripts/FileController.js"></script>
    <script src="./scripts/StyleController.js"></script>
    <script src="./scripts/eventHandler.js"></script>
</html>