<div class="files_block">
    <div class="control_line">
        <div class="close"></div>
    </div>

    <div class="files_list">

        <div class="file_line">
            <div class="file_time">07.06.23</div>
            <div class="file_name">style.css</div>
            <div class="load_file">ЗАГРУЗИТЬ</div>
        </div>

    </div>
</div>