<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/style.css">
        <title>Login</title>
    </head>
    <body>
    <div class="login_page">
        <H2>Login</H2>
        <form action="http://localhost:3001/auth/login" method="POST">
            <label for="id_username"></label>
            <input type = "text" name = "username" id="id_username" placeholder="nickname">
            <label for="id_password"></label>
            <input type = "password" name = "password" id="id_password" placeholder="password">
            <input type = "submit" value="войти">
        </form>
        <a class="go_reg" href="/auth/registration">Зарегистрироваться</a>
    </div>
    </body>
</html>